{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>

  <div class="message focus" data-component="message"> <span class="close small"></span>

  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="GOES 16" height="100" src="/goes-r-page-logo.png" width="160">
        </figure>
        <a href = "/goes16/"><h3>GOES 16</h3></a>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="NEXRAD" height="100" src="/nexrad_logo.gif" width="100">
        </figure>
        <a href = "/nexrad/"><h3>NEXRAD</h3></a>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="NWM" height="100" src="/nwm.png" width="150">
        </figure>
        <a href = "/nwm/"><h3>NWM</h3></a>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="docker" height="100" src="/docker.png" width="140">
        </figure>
        <a href = "/goes16/python/"><h3>Tools | Notebooks</h3></a>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-6 item">
        <h3><i>A Project of the</i></h3>
        <h4>The OCC Environmental Data Commons Working Group</h4>
        <p>The Environmental Data Commons Working Group supports and manages the Environmental Data Commons and the surrounding community interested in the open redistribution of Environmental datasets from OCC stakeholders like NASA and NOAA.</p>

        <p>To learn more or get involved, visit <a href="http://occ-data.org/working-groups/">occ-data.org/working-groups/</p>

        <p> Zachary Flamig, PhD, <a href = "https://cdis.uchicago.edu/">Center for Data Intensive Science (CDIS)</a> at the University of Chicago, <i>Scientific Lead</i>
      </div>
      <div class="col col-6 item">
        <h3><i>With Support From</i></h3>
        <h4>The NOAA Big Data Project</h4>
        <p><a href = "http://www.noaa.gov/big-data-project">The NOAA Big Data Project (BDP)</a> is a combination of three incredibly powerful resources: the expansive collection of high-quality environmental data and expertise of NOAA, the vast infrastructure and scalable computing capabilities of our industry collaborators, and innovation and energy of the American economy. This collaboration is designed to facilitate full and open data access at no net cost to the taxpayer, and to foster innovation by bringing together the tools necessary to make NOAA's data more accessible.</p>

        <h4>The NASA Project Matsu</h4>
        <p><a href = "https://matsu.opensciencedatacloud.org/about/">Project Matsu</a> is a collaboration between the NASA Goddard Space Flight Center and the Open Commons Consortium to develop open source technology for cloud-based processing of satellite imagery to support the earth science research community as well as human assisted disaster relief.</p>
      </div>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
