{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>

  <div class="message focus" data-component="message"> <span class="close small"></span>

  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="GOES 16" height="100" src="/goes-r-page-logo.png" width="160">
        </figure>
        <a href = "/goes16/"><h3>GOES 16</h3></a>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="NEXRAD" height="100" src="/nexrad_logo.gif" width="100">
        </figure>
        <a href = "/nexrad/"><h3>NEXRAD</h3></a>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="docker" height="100" src="/docker.png" width="140">
        </figure>
        <a href = "/goes16/python/"><h3>Tools | Notebooks</h3></a>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-12 item">
    <h3>The OCC Environmental Data Commons Working Group</h3>
    <p>The Environmental Data Commons Working Group supports and manages the Environmental Data Commons and the surrounding community interested in the open redistribution of Environmental datasets from OCC stakeholders like NASA and NOAA.</p>

    <b>Working group activities include:</b><br>
    i) developing and operating a petabyte-scale environmental data commons; 
    <br>
    ii) working with the alliance community to determine key datasets to be included; 
    <br>
    iii) working with the alliance community to prioritize key middleware and data services; 
    <br>
    iv) implementing functional networking and connectivity between data owners and the OCC NOAA data commons; 
    <br>
    v) working with other environmental data alliances to adopt data peering and standards for metadata and ID services; and 
    <br>
    vi) developing a self-sufficient and sustainable ecosystem through which the Environmental Data Commons can reliably release key datasets to the public.
    <br><br>

    <p> Zachary Flamig, PhD, <a href = "https://cdis.uchicago.edu/">Center for Data Intensive Science (CDIS)</a> at the University of Chicago, <i>Scientific Lead</i>
      </div>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}